{{- $cdn := site.Params.assetsCDN | default "" -}}
{{- $photo := .Get "photo" -}}
{{- $video := .Get "video" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $photoSrc := $photo -}}
{{- $videoSrc := $video -}}
{{- if and $cdn (not (hasPrefix $photo "http")) -}}
  {{- $photoSrc = printf "%s%s" $cdn $photo -}}
  {{- $videoSrc = printf "%s%s" $cdn $video -}}
{{- end -}}
{{- $uid := delimit (slice "lp" (md5 $photoSrc)) "-" -}}

<figure class="livephoto-figure">
  <div id="{{ $uid }}" class="livephoto-player" data-live-photo data-video-src="{{ $videoSrc }}">
    <img class="livephoto-img" src="{{ $photoSrc }}" alt="{{ $caption }}" loading="lazy" draggable="false">
    <video class="livephoto-video" src="{{ $videoSrc }}" preload="none" loop muted playsinline webkit-playsinline x5-playsinline></video>
    <span class="livephoto-badge">LIVE</span>
  </div>
  {{- if $caption }}
  <figcaption style="text-align: center; color: #888; font-size: 0.9em; margin-top: 0.5em;">{{ $caption }}</figcaption>
  {{- end }}
</figure>
