{{- $cdn := site.Params.assetsCDN | default "" -}}
{{- $photo := .Get "photo" -}}
{{- $video := .Get "video" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $photoSrc := $photo -}}
{{- $videoSrc := $video -}}
{{- if and $cdn (not (hasPrefix $photo "http")) -}}
  {{- $photoSrc = printf "%s%s" $cdn $photo -}}
  {{- $videoSrc = printf "%s%s" $cdn $video -}}
{{- end -}}
{{- $uid := delimit (slice "lp" (md5 $photoSrc)) "-" -}}

<figure>
  <div id="{{ $uid }}"
       data-live-photo
       data-photo-src="{{ $photoSrc }}"
       data-video-src="{{ $videoSrc }}"
       data-proactively-loads-video="false"
       style="width: 100%; height: 300px;">
  </div>
  {{- if $caption }}
  <figcaption style="text-align: center; color: #888; font-size: 0.9em; margin-top: 0.5em;">{{ $caption }}</figcaption>
  {{- end }}
</figure>
<script>
(function(){
  var el = document.getElementById("{{ $uid }}");
  var img = new Image();
  img.onload = function(){
    var ratio = img.naturalHeight / img.naturalWidth;
    el.style.height = Math.round(el.offsetWidth * ratio) + "px";
  };
  img.src = "{{ $photoSrc }}";
  window.addEventListener("resize", function(){
    if(img.naturalWidth){
      var ratio = img.naturalHeight / img.naturalWidth;
      el.style.height = Math.round(el.offsetWidth * ratio) + "px";
    }
  });
})();
</script>
